body{
  background-color: #000000;
  color: white;
}

.todo-input{
  color: #9d9d9d;
  background-color: transparent;
  border-radius: 9px;
  border-style: solid;
  border-color: #3E1671;
  border-width: 1px;  
  height: 30px;
  width: 90%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
  padding-left: 20px;
  font-size: 15px;
}

.todo-input:hover{
  transform: scale(1.03);
}

.todo-input:focus{
  border-color: #7843bd;
  transform: scale(1.03);
  outline: none;
}

.todo-input-noscale{
  color: #9d9d9d;
  background-color: transparent;
  border-radius: 9px;
  border-style: solid;
  border-color: #3E1671;
  border-width: 1px;  
  height: 30px;
  width: 90%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
  padding-left: 20px;
  font-size: 15px;
}

.todo-input-noscale:hover{
  border-color: #6a32b4;
}

.todo-input-noscale:focus{
  border-color: #7843bd;
  outline: none;
}

.add-task-button{
  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-top: 100px;
  background-color: #9E78CF;
  border-radius: 9px;
  border-style: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.add-task-button:hover{
  transform: scale(1.15);
  background-color: #7e57b1;
}

.central-container
{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

}

.Todo-container
{
  border-style: none;
  display: flex;
  background-color: #15101C;
  width: 350px;
  height: 60px;
  border-width: 1px;
  border-radius: 9px;
  color: #9E78CF;
  padding-left: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.Todo-container:hover{
  transform: scale(1.1);
  background-color: #16101e;
  color: #c1a7e3;
  
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.Todo-text-container{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 0px;
  height: 40px;
}

.Todo-text{
  text-align: bottom;
  font-size: 18px;
  font-weight: 350;
}

.completed-text{
  color: #78CFB0;
  text-decoration: line-through;
}

.no-strike {
  text-decoration: none !important;
  margin-right: 15px;
}

.Todo-container-button-rotate{
  background-color: transparent;
  width: 25px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  color: #9E78CF;
  border-style: none;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.Todo-container-button-rotate:hover{
  
  transform: scale(1.2) rotate(360deg);
  transform-origin: 50% 50%;
  color: #7b4fb4;
}

.Todo-container-button{
  background-color: transparent;
  width: 25px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  color: #9E78CF;
  border-style: none;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.Todo-container-button:hover{
  transform: scale(1.5);
  color: #7b4fb4;
}


/* Home.jsx */

.Todo-ico-container{
  width: 250px;
  height: 50px;
  background-color: rgba(73, 73, 73, 0.2);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  border-style:solid;
  border-color: white;
  border-width: 1px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.Todo-ico-container:hover{
  transform: scale(1.1);
  filter: brightness(1.5);
}

.Home-menu-button{
  width: 250px;
  height: 65px;
  border-radius: 50px;
  border-width: 1px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  transition: transform 0.3s ease-in-out;
}

.Home-menu-button:hover{
  transform: scale(1.1);
}


/* Registration.jsx */

.Reg-button{
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border-width: 1px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
  color: #3a1e5e;
  background-color: #9E78CF;
  transition: transform 0.3s ease-in-out; 
}

.Reg-button:hover{
  transform: scale(1.1);
  color: #dec1ff;
  background-color: rgb(138, 102, 177);
}

.Reg-text-button{
  color:gray;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.Reg-text-button:hover{
  transform: scale(1.1);
  color: rgb(174, 174, 174);
  text-decoration: underline;
}

.Reg-text-button-noscale
{
  color:gray;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-left:40px;
  font-size:25px;
}

.Reg-text-button-noscale:hover
{
  color:gray;
  color: rgb(174, 174, 174);
}

/* TodoNote.jsx */

.Note-container{
  background-color: #15101cbb;
  border-radius: 10px;
}   
